* {
    margin: 10px;
    box-sizing: border-box;
}

/*hehehheheehhe  */
.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blue;
}

.para {
    font-size: 16px;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #f2f2f2;
    padding: 10px;
    text-shadow: 2px 2px 5px grey;
}

td {
    padding: 10px;
    background-color: lightskyblue;
    text-shadow: 2px 2px 15px blue;
    text-align: center;
    list-style: none;
}

.header, .details {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 15px;
    background-color: lightpink;
    color: #fff;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(2, 4, 5, 3);
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid blue;
    border-radius: 20px;
}
.form-container p {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-container input[type="text"],
.form-container input[type="password"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container input[type="date"],
.form-container select {
            width: 100%;
            padding: 8px;
            margin-left: 3px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
}
.form-container input[type="checkbox"] {
            margin-right: 5px;
}
.form-container button {
            width: 48%;
            padding: 10px;
            border: none;
            border-radius: 4px;
            background-color: #007BFF;
            color: white;
            font-size: 1em;
            cursor: pointer;
            margin-top: 10px;
}
.form-container button[type="reset"] {
            background-color: #6c757d;
}
.form-container button:hover {
            opacity: 0.9; 
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    color: #fff;
}

.dividers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    background-color: black;
    color: #fff;
    border-radius: 20px;
}

iframe {
    margin-left: 480px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 3);
}

.carhehe {
    display: grid;
    margin-left: 600px;
}

.car, .car2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #007BFF;
}